
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 23px;
    background-color: rgb(189, 212, 227);
    
}
body{
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
 text-align: center;
 font-size: 1.2rem;
 margin-right: 4rem;
 padding: 10px;
}
nav li{
    list-style: none;
}
a{
    text-decoration: none;
    color:  black;
}
/* mobile nav */
.kibab{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.mobinav{
    background-color: #ffffff;
    z-index: 6;
   transition: 1s ease;
   display: none;
   width: 100%;
   
}
.mobinav ul{
    width: 100%;
 gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(images/abstract-white-and-gray-overlap-circles-background-3d-paper-circle-banner-with-drop-shadows-minimal-simple-design-for-presentation-flyer-brochure-website-book-etc-vector.jpg);
background-repeat: no-repeat;
background-position: center;
background-size:cover ;

}

.contact_img {
    width: 100%;
    height: 95vh;
}
.contact_img img{
  width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.input_area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.input_box{
    width: 50%;
    padding:0px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.input_box input[type=text],button{
    width: 100%;
    height: 2.3rem;
    border: none;
    border-radius: 19px;
    box-shadow: 1px 1px 4px;
    outline: none;
}
input::placeholder{
    padding-left: 13px;
}
.input_box textarea{
    min-height: 100px;
    width: 100%;
    box-shadow: 1px 1px 4px;
    border: none;
    border-radius: 19px;
    outline: none;
}
.input_box textarea::placeholder{
 
   padding: 10px;
}
.support_team p{
    padding: 10px;
 
}
.support_team{
    height:80%;

     box-shadow: 1px 2px 4px;
     padding: 10px;
     margin-top: -4.5rem;
     width: 52%;
}
.card{
width: 32%;
text-align: center;
height:100%;

}
.card_container{
    display: flex;
    height: 37vh;
    justify-content: center;
   gap: .5rem;
}
.card img{
    width:70%;
    border-radius: 50%;
}
.input_box button{
    background-color: #2d2828;
    color: white;
    font-size: 27px;
    }
    .input_box button:hover{
    transition: all .4s;
    background-color:#4c4747;
}
iframe{
    width: 90%;
    height: 60vh;
  margin-left: 5%;
  margin-top: 3rem;
}
.letter{
    text-align: center;
    padding: 30px;
    padding-bottom: 120px;
 height: 50vh;
    
 
}
.letter div{
    width: 80%;
   margin-left: 10%;
   position: relative;
   margin-top: 3rem;
}
.letter div input{
    width: 100%;
    height: 2.3rem;
    border-radius: 22px;
    outline: none;
    border-color: #9a9898;
    border: 1px solid;
}
.letter div span{
    position: absolute;
    top: 0;
    right: 2px;
    top: 3px;
    border-radius: 50%;
    background-color: #4c4747;
    padding: 9px;
    padding-right: 13px;
    width: 17px;
    height: 17px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.letter div span:hover{
    background-color: #9a9898;
    transition: all .3s;
}
.letter h1{
    font-size: 3rem;
    font-weight: 750;
}
.letter h2{
    font-size: 2rem;
    font-weight: 600;

}
.left{
    display: flex;
  
    width: 60%;
    background-color: #63654955;
    gap: 2rem;
    padding: 20px;
    backdrop-filter:blur(px) ;
    text-align: center;

   
}

.copy{
    display: flex;
    position: absolute;
    bottom: 19px;
    font-size: 1.rem;
    box-sizing: border-box;
    margin: 0;width: 17rem;
    background-color: rgba(248, 250, 252, 0.023);
}
.right{
    width: 40%;
  background: transparent;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
position: relative;

}
.right .copy{
    right: 6px;
    bottom: 2rem;
}

footer{
   display: flex;
    color: white;
   background:url(images/IMG-20240607-WA0018.jpg);
   height: 90vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-attachment: fixed;
}
footer nav{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    
}
footer .menu{
    
    text-align: center;
    
}
footer nav li{
    list-style: none;
}
footer nav li a{
    text-decoration: none;
    color: white;
}
footer .right span a{
    text-decoration: none;
    color: white;
    font-size: 25px;
   padding: 7px;
}


.social{
    margin-top: 7rem;
    display: flex;
    gap: 2rem;
    float: right;

   width: 70%;
   margin-left: 7rem;
   
}
.location{
    width: 40%;
    position: relative;
}